.introduction h1{
    text-align: center;
    font-size: 70px;
    margin-bottom: 0px;
}

.introduction p{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}
h3{
    text-align: center;
    font-size: 35px;
}

html body{
    background-color: #333;
    color: white;
}

.services{
    justify-content: space-between;
}

.services a{
    display: inline-block;
    background-color: #333;
    padding: 50px;
    margin: 80px;
    margin-top: 25px;
    color: pink; 
    border: none;
    border-radius: 20px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none ;
}

.services a:hover{
    background-color: pink;
    color: #333;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.first-row-service,
.second-row-service {
    display: flex;
    justify-content: space-between;
}


.button{
    text-align: center;
    display:inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: pink;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover{
    background-color: pink;
    color: #333;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}


.container{
    width: 100%;
    text-align: center;
}

section{
    margin-bottom: 50px;
}
body{
    background-color: white;
}

footer {
    background-color: #333;
    color: white;
    padding: 50px;
    text-align: center;
  }
footer a {
    color: pink;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
  }

footer p{
    color: pink;
}

#popup, #popup_1, #popup_2, #popup_3, #popup_4, #popup_5, #popup_6 {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    border: none;
    border-radius: 15px;
    background-color: #222;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active, #popup_1.active, #popup_2.active, #popup_3.active, #popup_4.active, #popup_5.active, #popup_6.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup-close-button{
    background-color: pink;
    color: black;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;

}
/* eachPage.html */
hr{
    background-color: white;
    margin-bottom: 1px;
}

.logo-name-container {
    display: flex;
    justify-content: center;
    align-items: center; /* This will align the items vertically center */
  }
  
  .logo {
    margin-top: 20px;
    width: 70px; /* Adjust the width as per your requirement */
    height: 70px; /* Adjust the height as per your requirement */
    margin-left: 10px; /* Add some space between the name and the logo */
  }

  .meeting h4 {
    text-align: center;
  }

  .meeting p{
    text-align: center;
  }